body, html{
    background-color: rgba(46, 46, 46);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    max-width: 100%;
    overflow-x:hidden
}

h1{
    font-family:'Courier New', Courier, monospace;
}

.dateSwitch{
    font-size: 50px;
    cursor: pointer;
    color: aliceblue;
    transition: .3s;
}

.dateSwitch:hover, .dateSwitch:focus{
    color: aqua;
    transition: .3s;
}

.homepage1{
    color: rgba(46, 46, 46);
    margin-top: 2%;
    margin-bottom: 2%;
}

.whiteback1{
    background-image: url(../Images/flippedblue.jpg);
    background-size: cover;
}

.whiteback2{
    background-image: url(https://wallpaperaccess.com/full/1109099.jpg);
}