
{% extends "login.html" %}
{% block content %}
<div class="row m-0" style="height: 100%;">
    
    <div class="col-md-4 offset-md-8" style="background-color: rgba(0,0,0, 0.6); color: aliceblue;">   
            <h1 style="text-align: center; font-family:'Courier New', Courier, monospace; font-size: 44pt;">Recover Account</h1>    
           
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action = "/verify_recovery" method = "POST" >  
                        Email address: <input type="email" name="email" style="color: black">  
                        <input type = "submit" value="Submit" style="color: black">  
                    </form>
                    <p style="padding-top: 2.5%;"></p><a class="btn" href="/login" \
                    style="display: flex; margin: auto; width: fit-content; background-color: pink;">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}