{% extends "login.html" %}
{% block content %}
<body style="height: 100%;" class="homeBack"></body>
<div class="row m-0" style="height: 100%;">
    <div class="col-md-4 offset-md-8" style="background-color: rgba(0,0,0, 0.6); color: aliceblue;">
      <h1 style="text-align: center; font-family:'Courier New', Courier, monospace; font-size: 44pt;">Recover Account</h1>
      <form action = "/verify_recovery" method = "POST" >
        <p style="text-align: center;">Please enter your email address to receive a code.</p>
        Email: <input type="email" name="email" style="color: black; margin: auto;" required><br><br>
        <div class="row">
            <div class="col-md-6">
                <a class="btn" href="/login" style="display: flex; float: right; margin: auto; width: fit-content; background-color: pink; padding: 1%;">Back</a>
            </div>
            <div class="col-md-6">
                <input type = "submit" value="Submit" class="btn login_button" style="color: black; padding: 1%; margin: 0%;"> 
            </div>
        </div>
        </form>
    </div>
</div>
</body>
{% endblock %}
