{% extends "login.html" %}
{% block content %}
<body style="height: 100%;" class="homeBack">
<div class="row m-0" style="height: 100%;">
    <div class="col-md-4 offset-md-8" style="background-color: rgba(0,0,0, 0.6); color: aliceblue;">
        <h1 style="text-align: center; font-family:'Courier New', Courier, monospace; font-size: 44pt;">Create Account</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger show"
                    role="alert" style="text-align: center;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p id="ptag">
                {{ form.fname.label(class="form-control-label") }}<br>
                {{ form.fname(class="form-control form-control-md") }}
            </p><br>

            <p id="ptag">
                {{ form.lname.label(class="form-control-label") }}<br>
                {{ form.lname(class="form-control form-control-md") }}
            </p><br>

            <p id="ptag">
                {{ form.username.label(class="form-control-label") }}<br>
                {{ form.username(class="form-control form-control-md") }}
            </p><br>

            <p id="ptag">
                {{ form.password.label(class="form-control-label") }}<br>
                {{ form.password(class="form-control form-control-md") }}
            </p><br>

            <p id="ptag">
                {{ form.email.label(class="form-control-label") }}<br>
                {{ form.email(class="form-control form-control-md") }}
            </p><br>

            <!-- <form id="ptag" action = "/verify" method = "POST">  
                Email address: <input type="email" name="email">  
                <input type = "submit" value="Submit">  
            </form> -->

            <p id="ptag">
                {{ form.gender.label(class="form-control-label") }}<br>
                {{ form.gender(class="form-control form-control-md") }}
            </p><br>

            <p id="ptag">
                {{ form.date_of_birth.label(class="form-control-label") }}<br>
                {{ form.date_of_birth(class="form-control form-control-md") }}
            </p><br><br>

            <p  style="display: flex; justify-content: center;" class="btn login_button"> {{ form.submit(class="btn") }} </p>
            
        </form>
            <p style="padding-top: 2.5%;"></p><a class="btn" href="/login" \
            style="display: flex; margin: auto; width: fit-content; background-color: pink;">Back</a>
        </div>
    </div>
</div>
</body>
{% endblock %}