

{% block content %}
<section class="p-3 mb-2">
    <div class="container" style="padding-bottom: 4%; padding-top: 3%;">
        <!-- <img src="{{ image_file }}" width="220px" height="220px" \
        style="display:block;margin:auto; padding: auto; border: 2.5px solid #f172a1; border-radius: 50%;" class="center"><br> -->
        <form action="" method="post" novalidate style="margin: auto; width: fit-content; ">
            {{ delete_form.hidden_tag() }}
            
            <p href="/edit_tracker" style="width: fit-content; margin: auto; float: right;">
              {{ delete_form.delete(class="form-control form-control-md btn btn-primary") }}</p>
            
        </form>
        
    </div>
</section>
{% endblock %}
