<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../static/js/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/stylesheets/navbar.css">
    <link rel="stylesheet" href="../static/stylesheets/base.css">
</head>

<body class="background" style="color: aliceblue;">
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="/homepage">Home</a>
            <a href="/tracker">Tracker</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <span class="openNav" onclick="openNav()">&#9776; </span>

     
        <br><br><h1 id="title" style="text-align: center;">{{actualDay2}}</h1>
        <br>

        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <h3>Calories</h3>
                <table id="table1" class="table-striped" style="width: 100%; margin: auto;">
                    <tr>
                        <th>Food</th>
                        <th>Servings</th>
                        <th>Calories</th>
                        <th><span class="glyphicon glyphicon-trash" style="display: none;"></span></th>
                    </tr>
                    {% for food in query_cal_row %}
                    <tr>
                        <td>{{food.c_name}}</td>
                        <td>{{food.c_serving_size_g}}</td>
                        <td>{{food.c_total_calories}}</td>
                        <td style="text-align: right; padding-right: 3px; width: 22.84px;"><span onclick="deleteFood()" class="glyphicon glyphicon-trash" style="cursor: pointer; vertical-align: middle;"></span></td>
                        <script>
                            function deleteFood() {
                                if (confirm("Delete Food?")) {
                                    window.location.href = "/c_delete_row/{{ food.cal_id }}";
                                }
                                else {
                                    window.location.href = "/edit_tracker";
                                }}
                        </script>
                    </tr>
                    {% endfor %}   
                </table><br>

                <form action="" autocomplete="off" method="post" id="foodForm">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.c_name(class="form-control form-control-md", placeholder="food name", id="food", list="foods")}}
                        <datalist id='foods'></datalist>
                    </p>
                    <p>
                        {{ form.c_submit(class="form-control form-control-md btn btn-primary", onSubmit=submitFood) }}
                    </p>
                </form>
            </div>
        </div><br>

        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <h3>Exercise</h3>
                <table id="table2" class="table-striped" style="width: 100%; margin: auto;">
                    <tr>
                        <th>Exercise</th>
                        <th>Reps/Time</th>
                        <th>Calories Burned</th>
                        <th><span class="glyphicon glyphicon-trash" style="display: none;"></span></th>
                    </tr>
                    {% for exercise in query_ex_row %}
                    <tr>
                        <td>{{exercise.e_name}}</td>
                        <td>{{exercise.e_duration_minutes}}</td>
                        <td>{{exercise.e_total_calories}}</td>
                        <td style="text-align: right; padding-right: 3px; width: 22.84px;"><span onclick="deleteExercise()" class="glyphicon glyphicon-trash" style="cursor: pointer; vertical-align: middle;"></span></td>
                        <script>
                            function deleteExercise() {
                                if (confirm("Delete Exercise?")) {
                                    window.location.href = "/e_delete_row/{{ exercise.ex_id }}";
                                }
                                else {
                                    window.location.href = "/edit_tracker";
                                }}
                        </script>
                    </tr>
                    {% endfor %}
                </table><br>

                <form action="" autocomplete="off" method="post" id="exerciseForm">
                <p>
                    {{ form.e_name(class="form-control form-control-md", placeholder="exercise name", id="exercise",
                    list="exercises")}}
                    <datalist id='exercises'></datalist>
                </p>
                <p>
                    {{ form.e_submit(class="form-control form-control-md btn btn-primary", onSubmit=submitFood) }}
                </p>
                </form><br>
                <button class="btn"><a href="/tracker" style="text-decoration: none; color: black;">Done</a></button></button>
            </div>
        </div>
        

    <button style="width: fit-content;"><a href="/tracker">Back</a></button>

        <script>
            var n = new Date();
            year = n.getFullYear();
            month = n.getMonth() + 1;
            day = n.getDate();
            // document.getElementById("date").innerText = month + "/" + day + "/" + year;
        
            if (screen && screen.width < 800) {
                document.getElementById("title").style.fontSize = "40px";
            }

        
        function setYesterday() {
            var yesterday = n;
            yesterday.setDate(yesterday.getDate() - 1);
            var year = yesterday.getFullYear();
            var month = yesterday.getMonth() + 1;
            var day = yesterday.getDate();
            // document.getElementById("date").innerText = month + "/" + day + "/" + year;
        }

        function setTomorrow() {
            var tomorrow = n;
            tomorrow.setDate(tomorrow.getDate() + 1);
            var year = tomorrow.getFullYear();
            var month = tomorrow.getMonth() + 1;
            var day = tomorrow.getDate();
            document.getElementById("date").innerHTML = month + "/" + day + "/" + year;
        }

        function insertFoodRow(foodOption) {
            if (!foodOption) return;
            const url = `/add_food`;
            // query_cal_row=query_cal_row
            axios.post(url, {
                ...foodOption
            })
                .then(function (response) {
                    //
                    //console.log(response.data);
                    const table = document.getElementById("table1");
                    const row = table.insertRow(-1);
                    const cell1 = row.insertCell(0);
                    const cell2 = row.insertCell(1);
                    const cell3 = row.insertCell(2);
                    const cell4 = row.insertCell(3);
                    cell1.innerText = response.data.data.name;
                    cell2.innerText = response.data.data.serving_size;
                    cell3.innerText = response.data.data.calories;
                    location.reload();
                    // cell4.innerText = "/c_delete_row/{{ query_cal_row[-1] }}";
                })
                .catch(function (error) {
                    console.log("Error:")
                    console.log(error);
                });

        }

        let nameOptions = [];
        const food_name = document.getElementById("food");

        const foodForm = document.getElementById("foodForm");
        foodForm.addEventListener("submit", (e) => {
            e.preventDefault();
            if (food_name.value || nameOptions.length == 0) insertFoodRow(nameOptions[0]);
        })

        function removeAllChildNodes(parent) {
            while (parent.firstChild) {
                parent.removeChild(parent.firstChild);
            }
        }

        const fetchName = (name) => {
            const url = `/food_api?name=${name}`;
            axios.get(url).then(res => {
                foods_list = document.getElementById("foods");
                removeAllChildNodes(foods_list);
                nameOptions = [...res.data]
                nameOptions.forEach(function (item) {
                    const option = document.createElement('option');
                    option.addEventListener("mousedown", () => {
                        console.log(`Clicked on food option`);
                    })
                    option.value = item.name;
                    option.innerText = item.name;
                    foods_list.appendChild(option);
                });
            });
        }
        if (food_name) {
            food_name.addEventListener("keyup", (e) => {
                e.preventDefault();
                if (food_name.value.length >= 3) fetchName(food_name.value)
            });
        }

        let exerciseOptions = [];
        const fetchActivities = (activity) => {
            const url = `/workouts_api?activity=${activity}`;
            axios.get(url).then(res => {
                exercises_list = document.getElementById("exercises");
                removeAllChildNodes(exercises_list);
                exerciseOptions = [...res.data]
                console.log(exerciseOptions);
                exerciseOptions.forEach(function (item) {
                    const option = document.createElement('option');
                    option.addEventListener("mousedown", () => {
                        console.log(`Clicked on exercise option`);
                        alert("hh")
                    })
                    option.value = item.name;
                    option.innerText = item.name;
                    exercises_list.appendChild(option);
                });
            });
        }

        const workout_name = document.getElementById("exercise");
        if (workout_name) {
            workout_name.addEventListener("keyup", (e) => {
                e.preventDefault();
                if (workout_name.value.length >= 3 && !workout_name.value.includes(",")) fetchActivities(workout_name.value)
                <!----Food-->
            });
        }


        function insertExerciseRow(exerciseOption) {
            if (!exerciseOption) return;
            const url = `/add_workout`;

            axios.post(url, {
                ...exerciseOption
            })
                .then(function (response) {
                    //
                    //console.log(response.data);
                    const table = document.getElementById("table2");
                    const row = table.insertRow(-1);
                    const cell1 = row.insertCell(0);
                    const cell2 = row.insertCell(1);
                    const cell3 = row.insertCell(2);
                    const cell4 = row.insertCell(3);
                    cell1.innerText = response.data.data.name;
                    cell2.innerText = response.data.data.duration;
                    cell3.innerText = response.data.data.calories;
                    cell4.innerText = "DELETE";
                    location.reload();
                })
                .catch(function (error) {
                    console.log("Error:")
                    console.log(error);
                });


        }
        const exercise_name = document.getElementById("exercise");

        const exerciseForm = document.getElementById("exerciseForm");
        exerciseForm.addEventListener("submit", (e) => {
            e.preventDefault();
            console.log(exerciseOptions);
            if (exercise_name.value || exerciseOptions.length == 0) insertExerciseRow(exerciseOptions[0]);
        })
    </script>

    <footer class="titletext" style="text-align: center;">
        <div class="col-md-offset-2 col-md-8" style="color:aliceblue">
            <hr style="background-color: aliceblue; height: 1px; border: none; margin: 0%;">
            <div class="row">
                <div class="col-md-6 col-xs-6"><h3>About us</h3></div>
                <div class="col-md-6 col-xs-6"><h3>Contact us</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">We are Southern Connecticut State University students creating a capstone 
                    project to be used by fitness-oriented individuals.</div>
                <div class="col-md-6 col-xs-6">
                    <p>Franklin Massimi: FMass3355@hotmail.com</p>
                    <p>Emma Jamieson: ej@email.com</p>
                    <p>Kari Bavis: kb@email.com</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>