<html>
    <body>
        <h1 style="text-align: center;">Fit: tracking Fitness Related Data</h1>
        <br>
        <form style="text-align: center;">
            <label for="login">Username:</label>
            <input type="text" id="login" name="login" placeholder="Prototype Username"><br><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" placeholder="Prototype Password">
        </form>
        <div style="text-align: center;">
            <button style="text-align: center;" onclick="location.href = 'home.html';">login</button>
        </div>

    </body>
</html>