{% extends "login.html" %}
{% block content %}
<body style="height: 100%;" class="homeBack">
<div class="row m-0" style="height: 100%;">
    <div class="col-md-4 offset-md-8" style="background-color: rgba(0,0,0, 0.6); color: aliceblue;">
        <h1 style="text-align: center; font-family:'Courier New', Courier, monospace; font-size: 44pt;">Create Account</h1>
        <p style="text-align: center;"> {{ result }} </p>
        <p style="padding-top: 2.5%;"></p><a class="btn" href="/login" \
            style="display: flex; margin: auto; width: fit-content; background-color: pink;">Back to login</a>
        </div>
    </div>
</div>
</body>
{% endblock %}